<div class="container">
    <h2>Kalkulator</h2>
    <form action="/Calculator/Result" method="GET">
        <div class="mb-3">
            <label class="form-label" for="x">Liczba 1</label>
            <input class="form-control" type="number" name="X" step="0.00001" id="x" />
        </div>
        <div class="mb-3">
            <label for="operator2" class="form-label">Operator</label>
            <select name="operator">
                <option value="add">+</option>
                <option value="sub">&minus;</option>
                <option value="mul">&times;</option>
                <option value="div">&divide;</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label" for="y">Liczba 2</label>
            <input class="form-control" type="number" name="Y" step="0.00001" id="y" />
        </div>
        <button type="submit" class="btn btn-primary">Oblicz</button>
    </form>
</div>
